md-sidenav {
    //max-width: 200px;
    min-width: 200px;
    box-shadow: 0px 0px 45px rgba(0,0,0, 0.5);
}

md-sidenav-container {
    min-height: 100vh;
    height: 100vh;
}

.topbar {
    background: #8EA478;
    padding: 6px 20px;
    text-align: right;
    height: 50px;
    border-bottom: 3px solid #6D8655;

}

.sidebar-item {
    display: block;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding: 20px;
    border-bottom: 1px solid gray;
    text-decoration: none;

    &:hover {
        background: #f7f7f7;
    }

    &:focus {
        outline: none;
    }
}

.open-nav-button {
    color: white;

    .fa {
        position: relative;
        top: -1px;
        margin-right: 4px;
    }
}


.mat-sidenav-container {
    background: white;
}
