/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');



html, body {
    margin: 0;
    font-family: 'Zilla Slab', serif !important;
    /*font-family: sans-serif !important;*/
}

.mat-button {
    font-family: 'Zilla Slab', serif;
}

.mat-dialog-container {
    max-width: 640px !important;
}

* {
    box-sizing: border-box;
}
