<div class="home-container">


    <input type="text" class="searchbar" placeholder="Zoek op locatie...">

    <agm-map
            [latitude]="viewLat"
            [longitude]="viewLng"
            [zoom]="zoom"
            [disableDefaultUI]="true"
            [streetViewControl]="false"
            [gestureHandling]="greedy"
    >
    <!--<agm-map-->
        <!--[fitBounds]="fitBounds"-->
        <!--[disableDefaultUI]="true"-->
        <!--[streetViewControl]="false"-->
        <!--[gestureHandling]="greedy"-->
    <!--&gt;-->


        <agm-marker
            *ngFor="let marker of sellers?.sellers"
            [latitude]="marker.lat"
            [longitude]="marker.lng"
            (markerClick)="openDialog(marker)"
        >

        </agm-marker>
    </agm-map>

</div>

