<div class="home-container">

    <!--Theme used: "Nature" - https://snazzymaps.com/style/47/nature-->
    <!-- <agm-map
        [latitude]="viewLat"
        [longitude]="viewLng"
        [zoom]="zoom"
        [disableDefaultUI]="true"
        [streetViewControl]="false"
        [styles]="mapsStyling"
        gestureHandling="greedy"
        fit="true"
        >
        <agm-marker
            *ngFor="let marker of sellers"
            [latitude]="marker.lat"
            [longitude]="marker.lng"
            (markerClick)="openDialog(marker)">
        </agm-marker>  
    </agm-map> -->

    <div id="map">

    </div>
</div>
